# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mm\CLionProjects\basecode-lang\leetcode\.idea/dataSources/
/dataSources.local.xml
